<!-- udacity2.0 -->
<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>Thymeleaf - Loop</title>
  <link rel="stylesheet" href="../assets/css/bootstrap.min.css">
  <link rel="stylesheet" href="../assets/css/plyr.css">
  <link rel="stylesheet" href="../assets/css/katex.min.css">
  <link rel="stylesheet" href="../assets/css/jquery.mCustomScrollbar.min.css">
  <link rel="stylesheet" href="../assets/css/styles.css">
  <link rel="shortcut icon" type="image/png" href="../assets/img/udacimak.png" />
</head>

<body>
  <div class="wrapper">
    <nav id="sidebar">
  <div class="sidebar-header">
    <h3>Spring Boot template engine</h3>
  </div>

  <ul class="sidebar-list list-unstyled CTAs">
    <li>
      <a href="../index.html" class="article">Back to Home</a>
    </li>
  </ul>

  <ul class="sidebar-list list-unstyled components">
    <li class="">
      <a href="01. Spring Boot Template Engine.html">01. Spring Boot Template Engine</a>
    </li>
    <li class="">
      <a href="02. Spring Boot Template Engine - Thymeleaf.html">02. Spring Boot Template Engine - Thymeleaf</a>
    </li>
    <li class="">
      <a href="03. Thymeleaf - Variable.html">03. Thymeleaf - Variable</a>
    </li>
    <li class="">
      <a href="04. Thymeleaf - Condition.html">04. Thymeleaf - Condition</a>
    </li>
    <li class="">
      <a href="05. Thymeleaf - Loop.html">05. Thymeleaf - Loop</a>
    </li>
    <li class="">
      <a href="06. Thymeleaf - Scope.html">06. Thymeleaf - Scope</a>
    </li>
    <li class="">
      <a href="07. Thymeleaf - URL.html">07. Thymeleaf - URL</a>
    </li>
    <li class="">
      <a href="08. Spring Boot Unit Test, Hot Swap, and Logging.html">08. Spring Boot Unit Test, Hot Swap, and Logging</a>
    </li>
    <li class="">
      <a href="09. Spring Boot Form Validation.html">09. Spring Boot Form Validation</a>
    </li>
  </ul>

  <ul class="sidebar-list list-unstyled CTAs">
    <li>
      <a href="../index.html" class="article">Back to Home</a>
    </li>
  </ul>
</nav>

    <div id="content">
      <header class="container-fluild header">
        <div class="container">
          <div class="row">
            <div class="col-12">
              <div class="align-items-middle">
                <button type="button" id="sidebarCollapse" class="btn btn-toggle-sidebar">
                  <div></div>
                  <div></div>
                  <div></div>
                </button>

                <h1 style="display: inline-block">05. Thymeleaf - Loop</h1>
              </div>
            </div>
          </div>
        </div>
      </header>

      <main class="container">
        <div class="row">
          <div class="col-12">
            <div class="ud-atom">
  <h3><p>035ND C01 L03 A08 THYMELEAF LOOP</p></h3>
  <video controls>
  <source src="05. 035ND C01 L03 A08 THYMELEAF LOOP-hyndTT_NU0M.mp4" type="video/mp4">

  <track default="true" kind="subtitles" srclang="en" src="05. 035ND C01 L03 A08 THYMELEAF LOOP-hyndTT_NU0M.en.vtt" label="en">
</video>


</div>
<div class="divider"></div><div class="ud-atom">
  <h3></h3>
  <div>
  <h2 id="instructions">Instructions</h2>
</div>

</div>
<div class="divider"></div><div class="ud-atom">
  <h3></h3>
  <div>
  <ol>
<li>Create a model directory and add a User class inside it, your code should look like the one below: </li>
</ol>
<pre><code>public class User {

   public Integer id;
   public String name;
   public Integer age;

   public User(Integer id, String name, Integer age) {
       this.id = id;
       this.name = name;
       this.age = age;
   }
}</code></pre>
<ol start="2">
<li>Add the below new method to our controller class:</li>
</ol>
<pre><code>@RequestMapping("demo2")
public String demo2(Model model) {
   List&lt;User&gt; lst = new ArrayList&lt;&gt;();
   lst.add(new User(1, "Tom", 30));
   lst.add(new User(2, "Jerry", 29));
   lst.add(new User(3, "Nancy", 27));
   model.addAttribute("list", lst);
   return "demo2";
}</code></pre>
<ol start="3">
<li>Copy demo.html and paste it as demo2.html. Remove everything between <code>&lt;body&gt;</code> and <code>&lt;/body&gt;</code> tags. Then, add the following code inside the <code>body</code> tag: </li>
</ol>
<pre><code>&lt;h3&gt;Thymeleaf Loop&lt;/h3&gt;
&lt;table&gt;
   &lt;tr&gt;
       &lt;th&gt;ID&lt;/th&gt;
       &lt;th&gt;Name&lt;/th&gt;
       &lt;th&gt;Age&lt;/th&gt;
   &lt;/tr&gt;
   &lt;tr th:each="user : ${list}" &gt;
       &lt;td th:text="${user.id}"&gt;&lt;/td&gt;
       &lt;td th:text="${user.name}"&gt;&lt;/td&gt;
       &lt;td th:text="${user.age}"&gt;&lt;/td&gt;
   &lt;/tr&gt;
&lt;/table&gt;</code></pre>
<ol start="4">
<li>Run the code and see the resulting web page. </li>
</ol>
<p>Let's explain the example above more. First, we created the User class that will contain some variables related to a user (id, name, and age). Then, we created a list of User objects in the controller class (we named that list <code>lst</code>). We wanted to iterate over <code>lst</code> and render its values on the page, as we said previously, if we want to access any data at the rendering time, we must add it to the model attributes, so we added <code>lst</code> to the model attributes using this line: <code>model.addAttribute("list", lst)</code>. Note how we linked <code>lst</code> variable with the name "list". This means that when we want to access this variable in the HTML code we'll use the name "list". </p>
<p>For the loop syntax in the HTML file, to indicate that you want to iterate through some variable, you need to add a loop attribute in the tag of the view that you want to have it rendered repeatedly in every iteration of the loop. The loop attribute syntax is <code>th:each="loop_variable : ${variable_name}"</code>, where <code>loop_variable</code> is the variable you'll use to represent each element in the list (here we call it user, you can call it anything else), and <code>variable_name</code> is the name of the variable that you want to iterate over which is "list" in our example. Since the view that we want it to be rendered repeatedly for every element in the list is the table row, we write: <code>&lt;tr th:each="user : ${list}" &gt;</code>, this will create a new row for every user. </p>
<p>Within the body of the view in which we define the loop attribute, we can access the loop variable and get any data we want from it, we can get any data inside that variable using the dot notation. For example, to access the id of the current user (the user of the current iteration), we can write ${user.id}. Remember, since any value we access from the loop variable is also a variable, we need to render it using <code>th:text</code> attribute as we learned previously. In our example, we wanted to render each variable related to the user (like the id) in a column, that's why we wrote: </p>
<pre><code>&lt;td th:text="${user.id}"&gt;&lt;/td&gt;
&lt;td th:text="${user.name}"&gt;&lt;/td&gt;
&lt;td th:text="${user.age}"&gt;&lt;/td&gt;</code></pre>
<p>Where <code>td</code> is the tag that's used to build columns inside table rows. So, our code example will create a row for each user in the list and display the user info in the columns of that row. </p>
<p>This is how you can create loops in Thymeleaf and you can apply the same concept to any other example. </p>
</div>

</div>
<div class="divider"></div><div class="ud-atom">
  <h3></h3>
  <div>
  <h2 id="demo">Demo</h2>
</div>

</div>
<div class="divider"></div><div class="ud-atom">
  <h3><p>035ND C01 L03 A09 THYMELEAF LOOP EXAMPLE</p></h3>
  <video controls>
  <source src="05. 035ND C01 L03 A09 THYMELEAF LOOP EXAMPLE-HaVVQjr3ucU.mp4" type="video/mp4">

  <track default="true" kind="subtitles" srclang="en" src="05. 035ND C01 L03 A09 THYMELEAF LOOP EXAMPLE-HaVVQjr3ucU.en.vtt" label="en">
</video>


</div>
<div class="divider"></div>
          </div>

          <div class="col-12">
            <p class="text-right">
              <a href="06. Thymeleaf - Scope.html" class="btn btn-outline-primary mt-4" role="button">Next Concept</a>
            </p>
          </div>
        </div>
      </main>

      <footer class="footer">
        <div class="container">
          <div class="row">
            <div class="col-12">
              <p class="text-center">
                <a href="https://us-udacity.github.io/" target="_blank">【udacity2.0 】If you need more courses, please add wechat：udacity6</a>
              </p>
            </div>
          </div>
        </div>
      </footer>
    </div>
  </div>


  <script src="../assets/js/jquery-3.3.1.min.js"></script>
  <script src="../assets/js/plyr.polyfilled.min.js"></script>
  <script src="../assets/js/bootstrap.min.js"></script>
  <script src="../assets/js/jquery.mCustomScrollbar.concat.min.js"></script>
  <script src="../assets/js/katex.min.js"></script>
  <script>
    // Initialize Plyr video players
    const players = Array.from(document.querySelectorAll('video')).map(p => new Plyr(p));

    // render math equations
    let elMath = document.getElementsByClassName('mathquill');
    for (let i = 0, len = elMath.length; i < len; i += 1) {
      const el = elMath[i];

      katex.render(el.textContent, el, {
        throwOnError: false
      });
    }

    // this hack will make sure Bootstrap tabs work when using Handlebars
    if ($('#question-tabs').length && $('#user-answer-tabs').length) {
      $("#question-tabs a.nav-link").on('click', function () {
        $("#question-tab-contents .tab-pane").hide();
        $($(this).attr("href")).show();
      });
      $("#user-answer-tabs a.nav-link").on('click', function () {
        $("#user-answer-tab-contents .tab-pane").hide();
        $($(this).attr("href")).show();
      });
    } else {
      $("a.nav-link").on('click', function () {
        $(".tab-pane").hide();
        $($(this).attr("href")).show();
      });
    }

    // side bar events
    $(document).ready(function () {
      $("#sidebar").mCustomScrollbar({
        theme: "minimal"
      });

      $('#sidebarCollapse').on('click', function () {
        $('#sidebar, #content').toggleClass('active');
        $('.collapse.in').toggleClass('in');
        $('a[aria-expanded=true]').attr('aria-expanded', 'false');
      });

      // scroll to first video on page loading
      if ($('video').length) {
        $('html,body').animate({ scrollTop: $('div.plyr').prev().offset().top});
      }

      // auto play first video: this may not work with chrome/safari due to autoplay policy
      if (players && players.length > 0) {
        players[0].play();
      }

      // scroll sidebar to current concept
      const currentInSideBar = $( "ul.sidebar-list.components li a:contains('05. Thymeleaf - Loop')" )
      currentInSideBar.css( "text-decoration", "underline" );
      $("#sidebar").mCustomScrollbar('scrollTo', currentInSideBar);
    });
  </script>
</body>

</html>
